
.anchorPaneCustomers {
    -fx-background-color: #C9A795;
}

.anchorPaneSales {
    -fx-background-color: #C9A795;
}

.anchorPaneProducts {
    -fx-background-color: #C9A795;
}

.buttonNewProduct {
    -fx-background-color: #EAC3AE;
    -fx-background-radius: 6px;
    
    -fx-border-width: 1px;
    -fx-border-color: #63342B;
    -fx-border-radius: 6px;
}

.buttonNewSale {
    -fx-background-color: #EAC3AE;
    -fx-background-radius: 100px;
    
    -fx-border-width: 1px;
    -fx-border-color: #63342B;
    -fx-border-radius: 100px;
}

.buttonField {
    -fx-cursor: hand
}

.saleButton {
    
}

.productButton {
    
}

.customerButton {
    
}

.logoutButton {
    ;
}

/*Table View*/

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #E8E8E8;
    -fx-background-radius: 7px 7px 0px 0px;
    /*-fx-background-insets: 0 11px 0 0;*/
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    /*-fx-text-background-color: red;*/
}
.table-row-cell:odd {
    -fx-background-color: #EAC3AE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even {
    -fx-background-color: #E8E8E8;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color:  #E8E8E8;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #E8E8E8;
}

.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}